{{define "pagination"}}
<ul>
    {{ with .First}}
    <li>
        <a href="{{.Href}}">Primeira</a>
    </li>
    {{ end }}
    {{ with .Previous }}
    <li>
        <a href="{{.Href}}">Anterior</a>
    </li>
    {{ end }}
    {{ range .Links }}
    <li>
        <a href="{{.Href}}">{{.Number}}</a>
    </li>
    {{ end }}
    {{ with .Next }}
    <li>
        <a href="{{.Href}}">Próxima</a>
    </li>
    {{ end }}
    {{ with .Last }}
    <li>
        <a href="{{.Href}}">Última</a>
    </li>
    {{ end }}
</ul>
{{end}}
