{{ define "results" }}
<html>
<title>Teste de resultados</title>
<h1>Teste resultados</h1>
<ul>
    {{ range .Results }}
    <li>{{.Title}}</li>
    {{ end }}
</ul>
{{ with .Pagination}}
    {{ template "pagination" .}}
{{ end }}
</html>
{{ end }}